<h1>Dundler Mifflin Employee Info</h1>
<p><h2><%= @employee.full_name %></h2></p>
<p>AKA: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p><%= link_to image_tag @employee.img_url %>
